[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
pypdf = "*"
requests = "*"
pytest = "*"
openpyxl = "*"
geopy = "*"
openmeteo-requests = "*"
requests-cache = "*"
pandas = "*"
retry-requests = "*"
googlemaps = "*"

[dev-packages]

[requires]
python_version = "The python command has been deprecated! Please use python2 or python3."
